* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h"
    "s c";
    grid-template-rows: 76px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
}