.info {
    display: flex;
    flex-direction: column;

}

.personal_info {
    display: flex;
}

.descriptName {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

}
.descript{
    margin-left: 20px;
}
.contacts {
    display: flex;

}
.contacts_item_img{
    width: 30px;
    height: 30px;
    margin: 10px 14px 10px 0px;
}